<!DOCTYPE html>

<h1 style="color: red"> Welcome To Super Market</h1>

<h2>Insert Employee  - <a href="http://127.0.0.1:8000/addemp/">click here</a></h2>
<h2>Delete Employee - <a href="http://127.0.0.1:8000/delemp/">click here</a></h2>
<h2>Display Employee - <a href="http://127.0.0.1:8000/emplist/">click here</a></h2>
<br>
<h2>Insert Product  - <a href="http://127.0.0.1:8000/addpro/">click here</a></h2>
<h2>Sold Product  - <a href="http://127.0.0.1:8000/updatepro/">click here</a></h2>
<h2>Product Stock - <a href="http://127.0.0.1:8000/prostock/">click here</a></h2>
<h2>Display Products - <a href="http://127.0.0.1:8000/prolist/">click here</a></h2>

</html>